body {
  background-color: white;
}
.mainHeader {
  margin-top: 30px;
}
.mainContainer {
  text-align: center;
  margin-top: 30px;

}
.btn3d.btn-location {
  width: relative;
  height: 50px;
  box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #FEAF20; color: white;
  float: left;
  margin-left: 200px;
}
.btn3d.btn-location:active,
.btn3d.btn-location.active {
    box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #FEAF20; color: white;
  float: left;
}
.btn3d.btn-zip {
  width: relative;
  height: 50px;
  box-shadow: 0 0 0 1px #778899 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #ae3739, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #e32326; color: white;
  float: left;
}
.btn3d.btn-zip:active,
.btn3d.btn-zip.active {
    box-shadow: 0 0 0 1px #778899 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #e32326; color: white;
  float: left;
}
.or {
  float: left;
  padding: 0px 20px 0px 20px;
  margin-top: 10px;
}

.card {
  width: 500px;
  margin-right:200px;
}

.restaurants {
   color: black;
}

#restaurantcards {
  border: 10px;
  margin-left: 75px;
  width: 1000px;
  text-align: center;
}

.phoimage {
  margin-left: 200px;
}

.box {
  border: 10px;
  border-style: dashed;
  border-color: #e32326;
   width: 750px;
   height: auto;
   background-color: yellow;
   text-align: center;
   margin-top: -20px;
   margin-bottom: -20px;
   margin-left: 100px;
   padding: 10px 0px 10px 0px;


}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.phoImage {
  width: 40px;
  height: 40px;
}

.gifSize {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  color: #f34242;
  font-family: 'Concert One', cursive;
  font-size: 50px;
  padding: 20px;
}